body {
  background: lightgray;
  color: dodgerblue;
  font-size: 24px;
}

h2 {
  background-color: lightblue;
  font-size: 22px;
  text-align: center;
  padding: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  height: auto;
  width: 40%;
  display: inline-block;
}

#search-form {
  font-size: 22px;
  background-color: lightblue;
  display: inline-block;
  font-size: 22px;
  text-align: right;
  padding: 25px;
  height: auto;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#widget-descript {
  margin-bottom: 10px;
  font-size: 18px;
}
